.pixel-grid {
       display: flex;
       flex-direction: column;
       overflow-x: auto;
       width: fit-content;
       padding-top: 7.9vw;
       margin: 0;
       padding-bottom: 0;
}

.row {
       display: flex;
}

.pixel {
       box-sizing: border-box;
       width: 55px;
       height: 55px;
       border: 1px solid black;
       background: white;
}

.pixel:hover {
       background: rgb(135, 124, 124);
       cursor: pointer;
}

.selected {
       border: 5px solid black;
}
