.pixel-grid {
       display: flex;
       flex-direction: column;
       overflow-x: auto;
       width: fit-content;
       padding-top: 7.9vw;
       margin: 0;
       padding-bottom: 0;
}

.row {
       display: flex;
}

.pixel {
       box-sizing: border-box;
       width: 55px;
       height: 55px;
       border: 1px solid black;
}

.pixel:hover {
       background: rgb(215, 215, 215);
       cursor: pointer;
}

.active {
       background-color: grey; /* Change color as needed */
}

.selected {
       border: 5px solid rgb(255, 0, 0);
}
