.App {
       width: 100%;
       -ms-overflow-style: none; /* Internet Explorer 10+ */
       scrollbar-width: none; /* Firefox */
       margin: 0;
       padding: 0;
}
.App::-webkit-scrollbar {
       display: none; /* Safari and Chrome */
}

.header {
       position: fixed;
       width: 100%;
       background: rgba(0, 0, 0, 0.2);
       text-align: center;
       pointer-events: none;
}

.header-text {
       padding: 0;
       margin: 0;
       font-size: 6vw;
       text-size-adjust: none;
       -webkit-text-size-adjust: none;
}
::-webkit-scrollbar {
       width: 0; /* Remove scrollbar space */
       background: transparent; /* Optional: just make scrollbar invisible */
}
::-webkit-scrollbar:horizontal {
       height: 0; /* Remove scrollbar space */
       background: transparent; /* Optional: just make scrollbar invisible */
}
